<!-- Main content -->
<section class="content">
	<div class="row">
		<!-- /.col -->
		<div class="col-md-12">
			<div class="box box-default">
				<div class="box-header with-border">
					<h3 class="box-title">商品列表</h3>
				</div>
				<div style="margin-top: 10px;">
                    <div class="btn-group" style="margin-left: 10px;">
                        <a href="{:url('/goods/index/add')}" class="btn btn-danger ">
							新增商品
						</a>
                    </div>
                </div>
				<div class="box-body table-responsive">
					<table class="table table-bordered table-hover">
						<tbody>
							<tr>
								<th class="hidden-xs">
									<label><input onchange="checkAll()" type="checkbox" value=""></label>
								</th>
								<th>id</th>
								<th>分类名称</th>
								<th>排序</th>
								<th>是否上架</th>
								<th>图片</th>
								<th>是否热销</th>
								<th>创建时间</th>
								<th>操作</th>
							</tr>
							{volist name="list" id="li"}
							<tr>
								<td class="hidden-xs">
									<label><input name="checkbox" class="check" type="checkbox"
												  value="{$li.id}"></label>
								</td>
								<td>{$li.id}</td>
								<td>{$li.name}</td>
								<td>{$li.sort_order}</td>
								<td>
                                    {eq name="li.on_sale" value="1"}
                                    	<span class="label label-success">上架</span>
                                    {else/}
                                    	<span class="label label-default">关闭</span>
                                    {/eq}
                                </td>
								<td>{$li.image}</td>
								<td>{$li.is_hot}</td>
								<td>{$li.created_at}</td>
								<td class="table-action">
									<a href="{:url('/goods/category/add',array('id'=>$li['id']))}">编辑</a>
									{eq name="li.on_sale" value="0"}
                                    <a href="{:url('/goods/category/update',array('id'=>$li['id'],'on_sale'=>1))}">开启</a>
                                    {else}
                                    <a href="{:url('/goods/category/update',array('id'=>$li['id'],'on_sale'=>0))}">关闭</a>
                                    {/eq}
									<!--<a href="{:url('/goods/category/del',array('id'=>$li['id']))}">删除</a>-->
								</td>
							</tr>
							{/volist}
						</tbody>
					</table>
				</div>
				<div class="box-footer table-responsive">
					<div class="btn-group">
                        <button type="button" class="btn btn-danger"
                                onclick="batchUrl('{:url(\'/goods/category/update\',array(\'status\'=>1))}')">
                            开启
                        </button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger"
                                onclick="batchUrl('{:url(\'/goods/category/update\',array(\'status\'=>0))}')">
                            关闭
                        </button>
                    </div>
					<!--<div class="btn-group">-->
                        <!--<button type="button" class="btn btn-danger"-->
                                <!--onclick="batchUrl('{:url(\'/goods/category/del\')}')">删除-->
                        <!--</button>-->
                    <!--</div>-->
					<div class="btn-group">
					</div>
					<div class="pull-right">
					</div>
				</div>
			</div>
			<!-- /. box -->
		</div>
		<!-- /.col -->
	</div>
</section>
<script type="text/javascript">
	
</script>