<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">添加商品</h3>
                </div>
                <!-- form start -->
                <form class="form-horizontal layui-form" action="{:url('/admin/goods/index/add')}" method="post" enctype="text/plain">
                    <div class="box-body">
                        <input class="form-control" name="id" placeholder="" value="{$goods.goods_id|default=0}" type="hidden" >

                        <div class="form-group">
                            <label class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-8"><input class="form-control" name="goods_name" placeholder="" value="{$goods.goods_name|default='山东红富士'}" type="text"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">商品编号</label>
                            <div class="col-sm-8"><input class="form-control" name="goods_sn" readonly placeholder="" value="{$goods.goods_sn|default='0001'}" type="text"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">分类</label>
                            <div class="col-sm-8">
                                <select name="category_id" class="form-control">
                                	{volist name="category" id="category"}
                                        <option value="{$category.id}">{$category.name}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">点击数</label>
                            <div class="col-sm-8"><input class="form-control" name="click_count" readonly placeholder="" value="{$goods.click_count|default='1111'}" type="text"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">库存数量</label>
                            <div class="col-sm-8"><input class="form-control" name="store_count" placeholder="" value="{$goods.store_count|default='1111'}" type="text"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">数量单位</label>
                            <div class="col-sm-8"><input class="form-control" name="amount" placeholder="" value="{$goods.amount|default='5kg/袋'}" type="text"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">市场价</label>
                            <div class="col-sm-8"><input class="form-control" name="market_price" placeholder="" value="{$goods.market_price|default='50'}" type="text"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">本店价</label>
                            <div class="col-sm-8"><input class="form-control" name="shop_price" placeholder="" value="{$goods.shop_price|default='45'}" type="text"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">商品成本价</label>
                            <div class="col-sm-8"><input class="form-control" name="cost_price" placeholder="" value="{$goods.cost_price|default='20'}" type="text"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">商品关键词</label>
                            <div class="col-sm-8"><input class="form-control" name="keywords" placeholder="" value="{$goods.keywords|default='红富士/山东/苹果'}" type="text"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">商品简单描述</label>
                            <div class="col-sm-8"><input class="form-control" name="goods_remark" placeholder="" value="{$goods.goods_remark|default='正宗山东烟台东富士'}" type="text"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">商品详细描述</label>
                            <div class="col-sm-8" id="UEditor" name="goods_content" type="text/plain" style="height:400px;">
                                 <!-- 加载编辑器的容器 -->
                                <script >
                                    {$goods.goods_content|default=''}
                                </script>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">商品图</label>
                            <div class="col-sm-8">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-new img-thumbnail">
                                        {empty name="config.original_img"}
                                        <img src="__PUBLIC__/static/dist/img/noimage.gif">
                                        {else /}
                                        <img src="__PUBLIC__/uploads/{$config['logo']['savepath']}{$config['logo']['savename']}">
                                        {/empty}
                                        <input class="form-control" name="original_img" id="file_id" placeholder="" value="{$config.original_img|default=''}" type="hidden">
                                        <div class="edit_pic_mask">
                                            <i class="fa fa-plus-circle" onclick="imageUploader(this,false)"></i>
                                            <i class="fa fa-minus-circle" onclick="removeImage(this,false)"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">是否上架</label>
                            <div class="col-md-7"><input type="checkbox" name="is_on_sale" lay-skin="switch" value="1" {notempty name="goods.is_on_sale"}checked{/notempty}></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">是否包邮</label>
                            <div class="col-md-7"><input type="checkbox" name="is_free_shipping" lay-skin="switch" value="1" {notempty name="goods.is_free_shipping"}checked{/notempty}></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">是否推荐</label>
                            <div class="col-md-7"><input type="checkbox" name="is_recommend" lay-skin="switch" value="1" {notempty name="goods.is_recommend"}checked{/notempty}></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">是否新品</label>
                            <div class="col-md-7"><input type="checkbox" name="is_new" lay-skin="switch" value="1" {notempty name="goods.is_new"}checked{/notempty}></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">是否热卖</label>
                            <div class="col-md-7"><input type="checkbox" name="is_hot" lay-skin="switch" value="1" {notempty name="goods.is_hot"}checked{/notempty}></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">商品排序</label>
                            <div class="col-sm-8"><input class="form-control" name="sort" placeholder="" value="{$goods.sort|default='20'}" type="text"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">配送物流</label>
                            <div class="col-sm-8"><input class="form-control" name="shipping_area_ids"  placeholder="" value="{$goods.shipping_area_ids|default='顺丰/EMS'}" type="text"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">商品上架时间</label>
                            <div class="col-sm-8"><input class="form-control" name="created_at" readonly placeholder="" value="{$goods.created_at|default=''}" type="text"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">最后更新时间</label>
                            <div class="col-sm-8"><input class="form-control" name="updated_at" readonly placeholder="" value="{$goods.updated_at|default=''}" type="text"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">商品销量</label>
                            <div class="col-sm-8"><input class="form-control" name="sales_sum" readonly placeholder="" value="{$goods.sales_sum|default=''}" type="text"></div>
                        </div>


                    </div>
                    <div class="box-footer">
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-block btn-danger">保存</button>
                        </div>

                        <div class="col-sm-2">
                            <button type="button" class="btn btn-block btn-default" onclick="history.go(-1)">取消
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
</section>
<script type="text/javascript">
    if('{$goods.category_id|default=''}'){
        $('select[name="category_id"]').val('{$goods.category_id|default=''}');
    }
    
    $(function () {
        var editor = new UE.ui.Editor();
        editor.render("UEditor");
        layui.use('form', function() {
            var form = layui.form();
            form.render(); //更新全部
        });
    });
</script>
